{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/docs/quick-start/" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Get Started</a> <a class="button outline big" href="https://github.com/marketplace/actions/rudra-for-openapi-test-coverage" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="OpenAPI" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>OpenAPI based</h3>
        <p>Rudra works by intercepting traffic during integration tests and comparing them with an OpenAPI spec.</p>
      </div>
      <div class="col col-4 item">
          <figure>
              <img alt="Available as Github Actions" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
          </figure>
          <h3>Available on Github Actions</h3>
          <p>Rudra is available as a Github Action. Other CI Tools will be added shortly.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Multilingual" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Multilingual</h3>
        <p>Works with any language, framework or testing library, only requirement is that you have an OpenAPI spec for your Webservice.</p>
      </div>
      </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
